.box {
    position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 10;
}

.paper-box {
	background: var(--paper-gradient);
}

.scissors-box {
	background: var(--scissors-gradient);
}

.rock-box {
	background: var(--rock-gradient);
}

.gradient-box {
	position: relative;
	height: 100%;
	width: 100%;
	border: solid 12px transparent;
	border-radius: inherit;
	pointer-events: none;
}

.gradient-paper {
	box-shadow: 0px 6px 0px rgb(36, 51, 125);
}

.gradient-scissors {
	box-shadow: 0 6px 0 rgb(158, 106, 9);
}

.gradient-rock {
	box-shadow: 0 6px 0 rgb(138, 29, 49);
}

.gradient-box::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(255, 255, 255);
	border-radius: inherit;
	box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.33) inset;
	z-index: -1;
}

/* .box::before {
	position: absolute;
	content: '';
	width: 200%;
	height: 200%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7254551478794643) 50%, rgba(255,255,255,0.36691173051251746) 100%);
	z-index: -100;
} */

.overlay {
	margin-top: 0.5rem;
}

.winner {
	position: relative;
}

.winner:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: -100;
}

.win::before {
	background-color: rgba(255, 255, 255, 0.04);
	width: 130%;
	height: 130%;
}

.win2::before {
	background-color: rgba(255, 255, 255, 0.035);
	width: 180%;
	height: 180%;
}

.win3::before {
	background-color: rgba(255, 255, 255, 0.03);
	width: 250%;
	height: 250%;
}

.icon {
	position: absolute;
	top: 27%;
	left: 25%;
	width: 51px;
	height: 60px;
	z-index: 1000;
	background-repeat: no-repeat;
	background-size: 70%;
}

.paper {
	background-image: url('../../assets/icon-paper.svg');
}

.scissors {
	background-image: url('../../assets/icon-scissors.svg');
}

.rock {
	background-image: url('../../assets/icon-rock.svg');
}

@media (min-width: 576px) {
	.box {
		width: 120px;
		height: 120px;
	}

	.icon {
		background-size: 85%;
	}

	.win::before {
		width: 150%;
		height: 150%;
	}
	
	.win2::before {
		width: 210%;
		height: 210%;
	}
	
	.win3::before {
		width: 280%;
		height: 280%;
	}

	.overlay {
		margin-top: 1rem;
	}
}

@media (min-width: 768px) {
	.box {
		width: 135px;
		height: 135px;
	}

	.icon {
		top: 25%;
		background-size: 100%;
	}

	.win::before {
		width: 170%;
		height: 170%;
	}
	
	.win2::before {
		width: 260%;
		height: 260%;
	}
	
	.win3::before {
		width: 350%;
		height: 350%;
	}
}