.wrapper {
    display: flex;
    justify-content: center;
}

.result-board {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 69%;
}

.picks {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
    width: 100%;
}

.pick {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pick h3 {
    padding: 1rem 0;
    text-transform: uppercase;
    color: white;
    font-size: 0.8rem;
}

.computer-picking {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.236);
    margin-top: 0.5rem;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -40px;
}

.info h3 {
    margin-bottom: 1rem;
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.info button {
    padding: 0.6rem 2.5rem;
    border-radius: 8px;
    border: none;
    color: var(--dark-text);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.6rem;
    letter-spacing: 2px;
    cursor: pointer;
}


@media (min-width: 576px) {
    .computer-picking {
        width: 120px;
        height: 120px;
    }

    .picks h3 {
        order: -1;
    }

    .info button {
        font-size: 0.7em;
    }
}

@media (min-width: 768px) {
    .computer-picking {
        width: 135px;
        height: 135px;
        margin-top: 1rem;
    }
    
    .info {
        top: 30%;
    }

    .info button {
        font-size: 0.8rem;
    }
}


